metricbeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

metricbeat.modules:
 - module: docker
   metricsets:
     - "container"
     - "cpu"
     - "diskio"
     - "event"
     - "healthcheck"
     - "info"
     #- "image"
     - "memory"
     - "network"
   hosts: ["unix:///var/run/docker.sock"]
   period: 5s
   enabled: true

processors:
- add_cloud_metadata:

  #output.elasticsearch:
  #  hosts: 192.168.1.122:9201
#  username: elastic
#  password: changeme
